@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Hind:wght@300;400&display=swap");


.footer {
  display: flex;
  justify-content: center;
  flex-direction:column;
  width: 100%;
  background-color: #EBEBEB;
  padding: 5px 1px 5px 1px;
}

@media screen and (min-width: 750px) {
  .images {
    display: flex;
    padding-left: 8px;
  }
}  
