@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "lora", serif;
  color: #111;
  font-size: 15px;
}

header {
  font-family: "Playfair Display", "Georgia", serif;
  font-size: 17px;
  background-color: #fafafa;
  color: #111;
}
